*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
}
.catalogue{
    width:10rem;
}

.catalogue .header img{
    width:10rem;
}
.catalogue .body_List{
    position: relative;
    margin-top:1.3rem;
}
.catalogue .body_List .list_item{
    width:10rem;
    height:1.3333rem;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top:0.25rem;
    position: relative;
}
.catalogue .body_List .list_item .list_item_content{
    width:8.5rem;
    position: absolute;
    height:100%;
    display: flex;
}
.catalogue .body_List .list_item .list_item_content .left{
    height:1.3333rem;
    width:1.111rem;
    color:white;
    font-size:0.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:0.05rem;
}
.catalogue .body_List .list_item .list_item_content .middle{
    height:1.3333rem;
    width:7.388rem;
    color:white;
    font-size:0.488888rem;
    display: flex;
    align-items: center;
    letter-spacing:1px;
    padding-bottom:0.08rem;
    padding-left:0.53333rem;
}
.catalogue .body_List img{
    width: 8.5rem;
}